body {
  background-color: black;
}

h1 {
  margin: 200px 0 0 0;
  padding: 0 0 80px 0;
  font-size: 3rem;
  text-align: center;
  color: white;
}

.FormHolder{
  justify-content: center;
  height: 1000px;
}